fastapi
uvicorn
langchain
langchain-openai
pydantic
pydantic-settings
python-dotenv
openai
mcp
nltk
qdrant-client
aiokafka
redis
langchain-qdrant
langchain-community
ddgs
langsmith
pandas
requests
sqlalchemy
